First ai agent.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ff3127a0-b6a2-46ed-ad5d-acadb0daf530",
      "name": "Telegram Trigger",
      "webhookId": "2699b09f-b5df-43ff-ac57-10a84f191404",
      "credentials": {
        "telegramApi": {
          "id": "X0HpgGHJIR7bGC0U",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// For Telegram\nconst msg = $input.first().json;\nreturn [{\n  json: {\n    platform: \"telegram\",\n    chatId: String(msg.message.chat.id),\n    userId: String(msg.message.from.id),\n    userName: msg.message.from.first_name,\n    text: msg.message.text,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "29bd8f97-ef1e-4296-a176-de7813c5f82f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "337a40c0-ca4c-4925-bcd4-9054ce7de5f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "7ef8d4a9-44c0-4b15-942a-7030d92bd4e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KnQU8xBmKJD2weu6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "fc96c352-1719-4231-a4e1-8890c6001e88",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "b729a432-31c2-4b8a-9473-db1006586800",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Code in JavaScript').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        0
      ],
      "id": "f4ed04d3-4c89-47a1-86cc-7a00b099a30f",
      "name": "Send a text message",
      "webhookId": "c6607ba0-8d5b-4b89-bee6-e2a4db7579f3",
      "credentials": {
        "telegramApi": {
          "id": "X0HpgGHJIR7bGC0U",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        32,
        400
      ],
      "id": "a8d6d9bc-f5e8-49b4-9f3f-f6de0d5887df",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "7661206524",
        "text": "={{ $json.execution.error.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "id": "01e501ba-44da-4398-8e9a-c54031dc8238",
      "name": "Send a text message1",
      "webhookId": "2233bea8-b77f-4eab-b08e-4524cd938e82",
      "credentials": {
        "telegramApi": {
          "id": "X0HpgGHJIR7bGC0U",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e9187840-2080-4a54-b47c-70f407d54c04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32ac844604d8c0b3e062ea8f55ba43ee90eb14b42ebd0c3dd6161483705e5143"
  },
  "id": "2ouHds3ZgqHG04oi",
  "tags": []
}