Group 73 capstone project.json
{
  "name": "Group 73 capstone project",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.vapi.ai/call?limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer c984a631-d549-414e-bae8-0ebd1dcc3333"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -176,
        -16
      ],
      "id": "acacd732-1de8-4c17-bcb1-6fbfcb74e74f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37b3d268-f091-40a6-9e14-1a87b2c79e98",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "e0ea2a98-37fe-403f-8e71-7b7566c196e6",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "21f36b52-50a0-40bf-bf81-8b2d54b6290e",
              "name": "recording url",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "9918c602-7755-46a5-a4db-f3b99eef59e7",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -16
      ],
      "id": "d39ae73a-c5fb-4634-bb1c-47f147816b63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing a voice call transcript from Mama Tee's Kitchen.\n\nTranscript:\n{{ $json.transcript }}\n\nYour job:\n1. Classify this call as exactly ONE of: order, reservation, or callback\n2. Extract the customer name and phone number\n3. Extract order items and total if it's an order\n4. Extract date/time/party size if it's a reservation\n\nRespond ONLY in this JSON format, no extra text:\n{\n  \"callType\": \"order\",\n  \"customerName\": \"Daniel\",\n  \"customerPhone\": \"08012345678\",\n  \"orderItems\": \"1 large fried rice, 1 chicken\",\n  \"orderTotal\": \"3500\",\n  \"reservationDate\": \"\",\n  \"reservationTime\": \"\",\n  \"partySize\": \"\",\n  \"notes\": \"\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        -16
      ],
      "id": "3028c616-60c5-4487-9dab-8df2c49493dc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "id": "dd76efd5-464f-499f-a95f-9e088ac6ff68",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vmvpB3oqb967CGPN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "order",
                    "rightValue": "={{ $json.call_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a243254-ba0f-4ee8-abd1-46218181b0ee"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8a4535d5-7750-4de3-be88-8a3cb34e90db",
                    "leftValue": "reservation",
                    "rightValue": "={{ $json.call_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2067c492-df3e-4163-884b-fe44bd3692ea",
                    "leftValue": "callback",
                    "rightValue": "={{ $json.call_type }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        848,
        -32
      ],
      "id": "895437af-a4ee-495c-b777-e9bc8125951f",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "8223818617",
        "text": "= NEW ORDER - Mama Tee's Kitchen\n\n Customer: {{ $json.fields[\"Customer Name\"] }}\n Phone: {{ $json.fields[\"Phone Number\"] }}\n Items: {{ $json.fields[\"Items Ordered\"] }}\n\n📋 Summary: {{ $('Edit Fields').item.json.summary }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -208
      ],
      "id": "1f75d024-4b7b-42a4-b105-8ee8fcd72c12",
      "name": "Order",
      "webhookId": "b8b0d984-3eea-4db1-9670-cf5024bdf983",
      "credentials": {
        "telegramApi": {
          "id": "v16WRdxVEpNPpLjw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8223818617",
        "text": "=📅 NEW RESERVATION - Mama Tee's Kitchen\n\n👤 Customer: {{ $(\"Code in JavaScript\").item.json.caller_name }}\n📞 Phone: {{ $(\"Code in JavaScript\").item.json.caller_phone }}\n👥 Party Size: {{ $(\"Code in JavaScript\").item.json.party_size }}\n📋 Details: {{ $(\"Code in JavaScript\").item.json.details }}\n\n✅ Logged to Airtable.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -16
      ],
      "id": "1e61d1ee-1693-4b56-89d5-0c2394c009b8",
      "name": "Reservation ",
      "webhookId": "b222f1fc-f8d5-46fd-a58a-fa7667a7896d",
      "credentials": {
        "telegramApi": {
          "id": "v16WRdxVEpNPpLjw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8223818617",
        "text": "=📞 CALLBACK REQUEST - Mama Tee's Kitchen\n\n👤 Customer: {{ $json.fields[\"Caller Name\"] }}\n📱 Phone: {{ $json.fields[\"Phone Number\"] }}\n📝 Notes: {{ $json.fields[\"What They Asked\"] }}\n\n⚠️ Please call this customer back.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        176
      ],
      "id": "0fe5b7c7-d816-4c74-9662-a0f4abfd9cc1",
      "name": "Callback",
      "webhookId": "aa009c6c-001c-4fac-b527-e25ded2faa03",
      "credentials": {
        "telegramApi": {
          "id": "v16WRdxVEpNPpLjw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text || '';\nlet parsed;\ntry {\n  const cleaned = text.replace(/json/g,'').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = {};\n}\n\nconst callType = (parsed.call_type || parsed.callType || 'callback').trim().toLowerCase();\nconst callerName = parsed.caller_name || parsed.customerName || 'Not provided';\nconst callerPhone = parsed.caller_phone || parsed.customerPhone || 'Not provided';\nconst details = parsed.details || parsed.notes || parsed.orderItems || JSON.stringify(parsed);\nconst partySize = parsed.partySize || parsed.party_size || '';\nconst orderItems = parsed.orderItems || parsed.order_items || '';\n\nreturn [{\n  json: {\n    call_type: callType,\n    caller_name: callerName,\n    caller_phone: callerPhone,\n    details: details,\n    party_size: partySize,\n    order_items: orderItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -16
      ],
      "id": "59f2e3f0-e47e-4efb-9630-4aa1fd6f2a86",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -16
      ],
      "id": "b61197d1-d350-4d6a-bd22-81f8c92904ac",
      "name": "When clicking ‘Execute workflow’",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appdyhZjgT28B7wVh",
          "mode": "list",
          "cachedResultName": "Mama Tee’s Kitchen AI Concierge (TS)",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh"
        },
        "table": {
          "__rl": true,
          "value": "tblWYHJDnUf2UZjc9",
          "mode": "list",
          "cachedResultName": "Order",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh/tblWYHJDnUf2UZjc9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Type": "={{ $json.call_type }}",
            "Customer Name": "={{ $json.caller_name }}",
            "Phone Number": "={{ $json.caller_phone }}",
            "Items Ordered": "={{ $json.order_items }}",
            "Delivery Address": "={{ $json.details }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Items Ordered",
              "displayName": "Items Ordered",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Order Total",
              "displayName": "Order Total",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Order Type",
              "displayName": "Order Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Address",
              "displayName": "Delivery Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Delivery Fee",
              "displayName": "Delivery Fee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1072,
        -208
      ],
      "id": "acfa9447-1452-4d45-8225-b68111feed34",
      "name": "Order1",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZPL3Cc0gbJkTJvER",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appdyhZjgT28B7wVh",
          "mode": "list",
          "cachedResultName": "Mama Tee’s Kitchen AI Concierge (TS)",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh"
        },
        "table": {
          "__rl": true,
          "value": "tblCpN7dp60iKasKc",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh/tblCpN7dp60iKasKc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Special Requests": "={{ $json.details }}",
            "Customer Name": "={{ $json.caller_name }}",
            "Phone Number": "={{ $json.caller_phone }}",
            "Reservation Date": "=2026-05-17T00:00:00",
            "Number of Guests": "={{ $json.party_size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reservation ID",
              "displayName": "Reservation ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Number of Guests",
              "displayName": "Number of Guests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reservation Date",
              "displayName": "Reservation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reservation Time",
              "displayName": "Reservation Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Deposit Status",
              "displayName": "Deposit Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "16/5/2026 11:29am",
                  "value": "16/5/2026 11:29am"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Special Requests",
              "displayName": "Special Requests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1072,
        -16
      ],
      "id": "6d6bd49f-b042-4bd2-b642-bde2cfff3ed7",
      "name": "reservation ",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZPL3Cc0gbJkTJvER",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appdyhZjgT28B7wVh",
          "mode": "list",
          "cachedResultName": "Mama Tee’s Kitchen AI Concierge (TS)",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh"
        },
        "table": {
          "__rl": true,
          "value": "tblUhLNNORJSNHTKL",
          "mode": "list",
          "cachedResultName": "Call Back",
          "cachedResultUrl": "https://airtable.com/appdyhZjgT28B7wVh/tblUhLNNORJSNHTKL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caller Name": "={{ $json.caller_name }}",
            "Phone Number": "={{ $json.caller_phone }}",
            "What They Asked": "={{ $json.details }}",
            "Status": "Pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Caller Name",
              "displayName": "Caller Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "What They Asked",
              "displayName": "What They Asked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "a386da73-4614-4e47-b52a-b2d2fb3810ac",
      "name": "Create a record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1072,
        176
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "ZPL3Cc0gbJkTJvER",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Order1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reservation ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order1": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reservation ": {
      "main": [
        [
          {
            "node": "Reservation ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        []
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "81330910-68d7-47c8-8fd8-858d0447a42d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "675b0a69cf1e8697ccfef27cc428fdd43871b6260273584b7642190890bc695c"
  },
  "id": "bMqQBZh759j2gOlp",
  "tags": []
}